# Console parameters cache. Can contain sensitive information
console/console.cache

# Console manifests. Not sensitive, but should be re-generated for new installs
console/pipeline/*

# OpenTofu config files. Can contain sensitive information
opentofu/clusters/*
!opentofu/clusters/README.md

# OpenTofu state files. Contains sensitive information and potentially secrets
.terraform
*.tfstate*

# Secrets
console/credentials.conf

# Image-specific secrets file.
*secrets.pkrvars.hcl

# Junk
.vscode/
.idea/